.opt {
  float: right;
  padding: 0em 0em 0em 0em;

  &:hover {
    background-color: rgb(224, 224, 224);
  }
}

.remove {
  color: #fff;
  background-color: hsl(348, 100%, 61%);
}

.edit {
  background-color: rgb(234, 234, 234);
}
