<h1 align="center">Manage Notes</h1>
<br>

<div align="center">
  <button class="home_add" mat-raised-button color="accent" (click)="addNewNote()">
    Add Note</button>
</div>
<br>

<p *ngFor="let n of notes; let i = index;">

  <mat-card-title class="title top"> {{ n.Title }} </mat-card-title>

  <button mat-raised-button color="warn" class="opt remove top" (click)="deleteNote(i)">
    X</button>
  <button mat-raised-button class="opt edit top" (click)="editNote(i)">
    <i class="material-icons">
      border_color
    </i></button>

  <br>
  <mat-card [ngClass]="content"> {{ n.content }} </mat-card>
</p>
