@import '~material-design-icons/iconfont/material-icons.css';
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~material-design-icons/iconfont/material-icons.css';

body,
html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 30% auto;

  a {
    color: white;
  }
}

section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}
